[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "Components/BpfSequencer/llvmbpf"]
	path = Components/BpfSequencer/llvmbpf
	url = git@github.com:fprime-bpf/llvmbpf.git
[submodule "compiler/llvm-project"]
	path = compiler/llvm-project
	url = git@github.com:fprime-bpf/llvm-project.git
