[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "cmake/toolchain/llvm-project"]
	path = cmake/toolchain/llvm-project
	url = git@github.com:fprime-bpf/llvm-project.git
