[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "Components/LLVMSequencer/llvmbpf"]
	path = Components/LLVMSequencer/llvmbpf
	url = git@github.com:fprime-bpf/llvmbpf.git
